demosur-dev-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "demosur-dev-df"
		},
		"azure_function_linked_service_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'azure_function_linked_service'"
		},
		"azure_blob_storage_linked_service_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://demosurdevdatalake4418sa.blob.core.windows.net/"
		},
		"azure_function_linked_service_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://demosurdevfunc4418.azurewebsites.net"
		},
		"silver-pipeline-trigger_properties_silver_pipeline_parameters_p_env": {
			"type": "string",
			"defaultValue": "dev"
		},
		"silver-pipeline-trigger_properties_silver_pipeline_parameters_p_payload": {
			"type": "string",
			"defaultValue": "@triggerBody().event.data"
		},
		"silver-pipeline-trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/4f24dcd1-9601-4727-ab67-d97cebce64ca/resourceGroups/demosur-dev-rg/providers/Microsoft.EventGrid/topics/adf-silver-trigger-topic"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/silver_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "correlation_id",
							"value": {
								"value": "@pipeline().parameters.p_payload.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_env": {
						"type": "string",
						"defaultValue": "dev"
					},
					"p_payload": {
						"type": "object"
					}
				},
				"variables": {
					"correlation_id": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_blob_storage_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('azure_blob_storage_linked_service_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_function_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('azure_function_linked_service_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('azure_function_linked_service_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_load_config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_blob_storage_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_layer": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dev.config.json",
						"folderPath": "config",
						"container": {
							"value": "@dataset().p_layer",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"api_name": {
							"type": "string"
						},
						"dataset_name": {
							"type": "string"
						},
						"api_request_payload": {
							"type": "object",
							"properties": {
								"offset": {
									"type": "integer"
								},
								"limit": {
									"type": "integer"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_blob_storage_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver-pipeline-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "silver_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"p_env": "[parameters('silver-pipeline-trigger_properties_silver_pipeline_parameters_p_env')]",
							"p_payload": "[parameters('silver-pipeline-trigger_properties_silver_pipeline_parameters_p_payload')]"
						}
					}
				],
				"type": "CustomEventsTrigger",
				"typeProperties": {
					"subjectEndsWith": "",
					"subjectBeginsWith": "",
					"scope": "[parameters('silver-pipeline-trigger_properties_typeProperties_scope')]",
					"events": [
						"SilverProcessing.Started"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/silver_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "load-bronze-payload",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dev_load_config",
								"type": "DatasetReference",
								"parameters": {
									"p_layer": "bronze"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "send-payload",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "load-bronze-payload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "start_ingestion_http",
							"body": {
								"value": "@activity('load-bronze-payload').output",
								"type": "Expression"
							},
							"headers": {},
							"method": "POST"
						},
						"linkedServiceName": {
							"referenceName": "azure_function_linked_service",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_env": {
						"type": "string",
						"defaultValue": "dev"
					},
					"p_storage_queue_account_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-01T14:28:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dev_load_config')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_function_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "send_messages",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "bronze_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"correlation_id": {
						"type": "String"
					},
					"test": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-01T14:28:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/bronze_pipeline')]"
			]
		}
	]
}