pipeline/bronze-ingestion.json
{
	"name": "bronze-ingestion",
	"properties": {
		"activities": [
			{
				"name": "batch-correlation-id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batch_correlation_id",
					"value": "@concat('cor-', pipeline().RunId)\n"
				}
			},
			{
				"name": "config-api-loader",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "batch-correlation-id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "config_apis",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "foreach-ingestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "config-api-loader",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('config-api-loader').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ingestion-now",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "IngestNow",
								"body": {
									"items": "@activity('configs-loader').output\n",
									"activities": [
										{
											"name": "ingest-now",
											"type": "AzureFunctionActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"functionName": "IngestNow",
												"body": "@json(replace(string(item()), '{', concat('{\"correlation_id\":\"', variables('batch_correlation_id'), '\",')))\n",
												"method": "POST"
											},
											"linkedServiceName": {
												"referenceName": "azure_function_linked_service",
												"type": "LinkedServiceReference"
											}
										}
									]
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "azure_function_linked_service",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"batch_correlation_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cv-demo1/bronze"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-11T12:51:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}