src/azure_data_factory/pipeline/bronze_pipeline.json
{
	"name": "bronze_pipeline",
	"properties": {
		"activities": [
			{
				"name": "load-pipeline-payloads",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dev_pipeline_payload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach-ingestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "load-pipeline-payloads",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('load-pipeline-payloads').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ingest",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "ingestNow",
								"body": {
									"value": "@{\n    json(concat(\n        '{',\n            '\"correlation_id\":\"', pipeline().parameters.p_correlation_id, '\",',\n            '\"queue_message_id\":\"', guid(), '\",',\n            '\"api_config_payload\":', string(item()),\n        '}'\n    ))\n}\n",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "azure_function_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "set-ingest-response",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "ingest",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ingest-response-aggregated",
								"value": {
									"value": "@{\n    json(concat(\n        '{',\n        '\"status\":\"', activity('ingest').output.status, '\",',\n        '\"correlationId\":\"', activity('ingest').output.correlationId, '\",',\n        '\"queueMessageId\":\"', activity('ingest').output.queueMessageId, '\",',\n        '\"apiName\":\"', activity('ingest').output.apiName, '\",',\n        '\"datasetName\":\"', activity('ingest').output.datasetName, '\",',\n        '\"layerName\":\"', activity('ingest').output.layerName, '\",',\n        '\"message\":\"', activity('ingest').output.message, '\",',\n        '\"apiResponseStatusCode\":', if(empty(string(activity('ingest').output.apiResponseStatusCode)), 'null', string(activity('ingest').output.apiResponseStatusCode)), ',',\n        '\"outputPath\":\"', activity('ingest').output.outputPath, '\"',\n        '}'\n    ))\n}\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_correlation_id": {
				"type": "string"
			},
			"p_env": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"ingest-response": {
				"type": "String"
			},
			"ingest-response-aggregated": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}