src/azure_data_factory/pipeline/bronze_pipeline.json
{
	"name": "bronze_pipeline",
	"properties": {
		"activities": [
			{
				"name": "load-pipeline-payloads",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dev_pipeline_payload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach-ingestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "load-pipeline-payloads",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('load-pipeline-payloads').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ingestion-now",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "ingestNow",
								"body": {
									"value": "@{\n    json(concat(\n        '{',\n            '\"correlation_id\":\"', pipeline().parameters.p_correlation_id, '\",',\n            '\"queue_message_id\":\"', guid(), '\",',\n            '\"api_config_payload\":', string(item()),\n        '}'\n    ))\n}\n",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "azure_function_linked_service",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "append-ingestion-response",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "ingestion-now",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ingest-response-aggregated",
								"value": {
									"value": "@json(concat(\n  '{',\n  '\"status\":\"', string(activity('ingestion-now').output.status), '\",',\n  '\"correlationId\":\"', string(activity('ingestion-now').output.correlationId), '\",',\n  '\"queueMessageId\":\"', string(activity('ingestion-now').output.queueMessageId), '\",',\n  '\"apiName\":\"', string(activity('ingestion-now').output.apiName), '\",',\n  '\"datasetName\":\"', string(activity('ingestion-now').output.datasetName), '\",',\n  '\"layerName\":\"', string(activity('ingestion-now').output.layerName), '\",',\n  '\"message\":\"', string(activity('ingestion-now').output.message), '\",',\n  '\"apiResponseStatusCode\":', string(activity('ingestion-now').output.apiResponseStatusCode), ',',\n  '\"outputPath\":\"', string(activity('ingestion-now').output.outputPath), '\"',\n  if(contains(activity('ingestion-now').output, 'errorDetails'),\n    concat(', \"errorDetails\":\"', string(activity('ingestion-now').output.errorDetails), '\"'),\n    ''\n  ),\n  '}'\n))\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "final-ingestion-results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "foreach-ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "bronze_outputs",
							"value": {
								"type": "Array",
								"content": [
									{
										"type": "String",
										"content": "@variables('ingest-response-aggregated')"
									}
								]
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"p_correlation_id": {
				"type": "string"
			},
			"p_env": {
				"type": "string",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"ingest-response": {
				"type": "String"
			},
			"ingest-response-aggregated": {
				"type": "Array"
			},
			"set-pipeline-output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}