src/azure_data_factory/pipeline/main.json
{
	"name": "main",
	"properties": {
		"activities": [
			{
				"name": "bronze_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "load-bronze-config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "bronze_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_correlation_id": {
							"value": "@variables('correlation_id')",
							"type": "Expression"
						},
						"p_payload": {
							"value": "@activity('load-bronze-payloads').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "init-correlation-id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "correlation_id",
					"value": {
						"value": "@pipeline().RunId\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "load-bronze-config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "init-correlation-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dev_load_config",
						"type": "DatasetReference",
						"parameters": {
							"p_layer": "bronze"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"correlation_id": {
				"type": "String"
			},
			"test": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-01T14:28:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}