src/azure_data_factory/pipeline/main.json
{
	"name": "main",
	"properties": {
		"activities": [
			{
				"name": "bronze-pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "init-correlation-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "bronze_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_correlation_id": {
							"value": "@variables('correlation_id')",
							"type": "Expression"
						},
						"p_ingestion_payload": {
							"value": "@activity('load-ingestion-payloads').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "init-correlation-id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "load-ingestion-payloads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "correlation_id",
					"value": {
						"value": "@pipeline().RunId\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "silver-pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "bronze-pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "silver_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_ingestion_results": {
							"value": "@activity('bronze-pipeline').output.properties.returnValue",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "load-ingestion-payloads",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dev_pipeline_payload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"correlation_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}