src/azure_data_factory/pipeline/main.json
{
	"name": "main",
	"properties": {
		"activities": [
			{
				"name": "bronze-pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "init-correlation-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "bronze_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_correlation_id": {
							"value": "@variables('correlation_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "init-correlation-id",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "correlation_id",
					"value": {
						"value": "@pipeline().RunId\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "silver-pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "bronze-pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "silver_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"correlation_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}